@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.015em;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

svg {
  border: 1px solid;
}

/* Sandpack */
.sp-layout {
  border: none;
  background: transparent;
  --sp-border-radius: 0px;
  --sp-colors-bg-error: #ffefee;
  --sp-colors-fg-error: #c00;
}
.sp-stack {
  border: none;
}
